* {
  font-family: Arial;
}

#imgs {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

#vis-writeups {
  display: flex;
  flex-direction: column;
  flex: 40%;
}

#centered {
  font-size: 25px;
  text-align: center;
}

h4 {
  text-align: center;
}